.module-cart-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 15%;
}

.module-cart-description{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;
    height: 30%;
}

.module-cart-container{
    width: 360px;
    height: 372px;
    background-color: #F2F2F2;
    border-radius: 8px;
    z-index: 1;
}

.module-picture{
    width: 360px;
    height: 205.02px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.rating-star{
    width: 128px;
    height: 18px;
    margin-top: 10px;
}

.module-cart-footer{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 16px;
    height: 28%;
}

.module-cart-detail{
    margin: 10px 10px 10px 20px;
    height: 48%;
}

@media (max-width: 991px) {
    #result-wrapper{
      padding-left: 0;
    }
}

@media (max-width: 767px) {
    .module-cart-container{
        transform: scale(0.98);
    }
    .module-cart-container{
        transform: scale(0.98);
    }
}

@media (max-width: 961px) {
    #result-wrapper{
      padding-left: 0;
    }
    .module-cart-container{
        transform: scale(0.98);
    }
}

@media (max-width: 1526px) {
    .module-cart-container{
        transform: scale(0.98);
    }
}

@media (max-width: 1489px) {
    .module-cart-container{
        transform: scale(0.95);
    }
}