.featuredmodules-description{
    font-size: 20px;
    font-weight: 300;
}

.featuredmodules-cart-container{
    margin-bottom: 30px;
    width: 100%;
    height: 372px;
    z-index: 0;
    display: flex;
    justify-content: center;
}

.featuredmodules-cart-wrapper{
    background-color: var(--white);
    border-radius: 16px;
    display: flex;
    width: 80%;
    height: 372px;
}

.featuredmodules-picture{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 28%;
    height: 372px;
}

.featuredmodules-description-container{
    margin-top: 3%;
    margin-left: 5%;
    width: 80%;
    padding-right: 3%;
}

.featuredmodules-detail-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.featuredmodules-detail-description{
    font-size: 16px;
    font-weight: 300;
}

.featuredmodules-mentor-container{
    display: flex;
    margin-top: 8%;
}

.featuredmodules-mentor-description-wrapper{
    margin-left: 6%;
    display: flex;
    flex-direction: column;
}

.featuredmodules-mentor-name{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
}

.mentorImg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredmodules-mentor-img{
    width: 85%;
}

.featuredmodules-mentor-position{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}

.featuredmodules-enroll-button{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-bottom: 5%;
}

.featuredmodules-star{
    width: 80%;
}

@media (max-width:961px) {
    .featuredmodules-mentor-name{
        font-size: 15px;
    }
    .featuredmodules-mentor-position{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .featuredmodules-mentor-img{
        width: 70%;
    }
    .featuredmodules-mentor-description-wrapper{
        margin-left: 3%;
    }

    .featuredmodules-detail-description{
        font-size: 14px;
    }
    .featuredmodules-mentor-container{
        margin-top: 15%;
    }
}

@media (max-width:767px) {
    .featuredmodules-mentor-name{
        font-size: 15px;
    }

    .featuredmodules-mentor-position{
        font-size: 13px;
        margin-bottom: 5px;
    }

    .featuredmodules-mentor-img{
        width: 70%;
    }

    .featuredmodules-mentor-description-wrapper{
        margin-left: 3%;
    }

    .featuredmodules-detail-description{
        font-size: 14px;
    }

    .featuredmodules-mentor-container{
        margin-top: 10%;
    }
    .featuredmodules-cart-wrapper{
        padding-right: 3%;
    }

    .featuredmodules-picture{
        width: 35%;
    }

    .featuredmodules-enroll-button{
        transform: scale(0.9);
        margin-top: 5%;
    }
}