.news-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 417px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.news-container{
    margin: 0 120px 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 417px;
    width: 100%;
}
