.navbar-wrapper {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: #1e1e1e;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0.7px 7px -1px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 0.7px 7px -1px rgba(0,0,0,0.61);
box-shadow: 0px 0.7px 7px -1px rgba(0,0,0,0.61);
}

.navbar-container {
  display: flex;
  width: 100%;
  margin: 0 120px 0 120px;
  justify-content: space-between;
  align-items: center;
}

.navlogo-img {
  width: 160px;
  height: 40px;
}

.navbar-login-button {
  background-color: #ffa92c;
  width: 168px;
  margin-left: 12px;
}

.navbar-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #1e1e1e;
}

.navbar-button1{
  margin-right: 16px;
}

.navbar-link:hover {
  color: #ffa92c;
}
