.continuelastcourse-container{
    width: 100%;
    height: 148px;
    margin-bottom: 100px;
    margin-top: 60px;
}

.continue-trendingmodules-title{
    text-align-last: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.continuelastcourse-cards-container{
    display: flex;
    justify-content: center;
}

.continuemodule1{
    margin-right: 18px;
}