.forumCard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 250px;
    width: 360px;
}

.whiteBox {
    background-color: white;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    width: 100%; 
    height: 45%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.bookTempTitle {
    text-align: start !important;
    width: 100%;
    font-size: 18px; 
    margin-top: -4px;
}

.people-button-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.peopleIcon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
}

.peopleTotal {
    margin-right: 5px;
    font-size: 15px; 
    margin-top: 8px;
}

.peopleText {
    margin-top: 8px;
    margin-right: 130px;
    font-size: 15px; 
}
.forumCover{
    width: 100%;
    height: 100%;
}

.button-box-green {
    background-color: #136e54;
    border-radius: 8px;
    color: white;
    height: 40%;
    padding: 12px 20px;
    display: flex;
    align-items: center; 
}

.btn-text {
    font-size: 12px;
    margin: 0; 
}

@media (max-width: 991px) {
    .forumCard-container {
        transform: scale(0.9);
    }
}

@media (max-width: 951px) {
    .forumCard-container {
        transform: scale(0.8);
    }
}

@media (max-width: 767px) {
    .forumCard-container {
        transform: scale(1);
    }
}