.postcard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.postcard-wrapper {
    padding: 12px;
    width: 100%;
    max-width: 1118px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.replycard-container{
    margin-bottom: 40px;
}

.postcard-title {
    font-size: 2.35rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.postcard-information {
    display: flex;
    flex-direction: column;
}

.postcard-profile {
    margin: 24px auto;
}

.postcard-forum-profile {
    width: 50px;
}

.postcard-detail-container {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.postcard-username, .postcard-time, .postcard-thread {
    width: 100%;
}

.postcard-username {
    font-size: 1.25rem;
    font-weight: 500;
}

.postcard-time {
    margin-top: 4px;
    margin-bottom: 8px;
    color: var(--darkGray);
    font-size: 1rem;
    font-weight: 500;
}

.postcard-interaction {
    margin-top: 24px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.postcard-reply {
    margin: 0 20px;
}

.interactionButton {
    border: none;
    background: none;
    padding: 0;
}

.reply-box {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.replyinputbox {
    width: 95%;
}

.submitReply-button {
    border: none;
    background: none;
}

.send-icon-button {
    width: 32px;
    margin-top: 4px;
    margin-left: 12px;
}

@media (min-width: 768px) {
    .postcard-information {
        flex-direction: row;
        text-align: left;
    }

    .postcard-profile {
        margin: 24px;
    }

    .postcard-detail-container {
        width: 85%;
    }

    .postcard-username, .postcard-time, .postcard-thread {
        text-align: left;
    }

    .postcard-interaction {
        justify-content: flex-start;
    }

    .reply-box, .replyinputbox {
        width: 100%;
    }

    .submitReply-button {
        margin-left: 10px;
    }
}
